name: Sync to DB

on:
  push:
    paths:
      - 'data/perks.json'
      - 'data/characters.json'

jobs:
  update-db:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            perks:
              - 'data/perks.json'
            characters:
              - 'data/characters.json'

      - name: Install uv and Set up Python
        uses: astral-sh/setup-uv@v5
        with:
          python-version: '3.12'
          enable-cache: true

      - name: Run Sync Scripts
        env:
          SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
          SUPABASE_KEY: ${{ secrets.SUPABASE_KEY }}

        run: |
          uv pip install supabase python-dotenv
          
          # Conditional logic using the filter outputs
          if [ "${{ steps.filter.outputs.perks }}" == 'true' ]; then
            python tools/syncperks/main.py
          fi
          
          if [ "${{ steps.filter.outputs.characters }}" == 'true' ]; then
            python tools/synccharacters/main.py
          fi